#div-1 {width: 400px;
    height: 80px;
    background-color: yellow;

}

#div-2 {width: 400px;
    height: 80px;
    background-color: green;

}

#div-3 {width: 400px;
    height: 80px;
    background-color: red;

}

